# Webscrape college applications
## Step One: Prepare Directory Information

In [1]:
import sys
log_file = open('log_file.txt', 'w')
sys.stdout = log_file

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# Load directory data.
IPEDSfile = pd.read_stata('../../statadata/IPEDSDirInfo02to16smlr.dta', preserve_dtypes=False)
# Reduce to 2 and 4yr institutions.
icleveldf = IPEDSfile[
    ((IPEDSfile['iclevel']=='Four or more years') | (IPEDSfile['iclevel']=='At least 2 but less than 4 years')) & 
    ((IPEDSfile['sector']!='Private for-profit, 4-year or above') | (IPEDSfile['sector']!='Private for-profit, 2-year'))]

In [4]:
# Remove www. prefix from webaddress.
IPEDSfile['rootdom'] = IPEDSfile.loc[:, 'webaddr'].replace(regex=True, to_replace='www.', value='')
# Remove miscellaneous slashes & other from webaddress.
IPEDSfile['rootdom'] = IPEDSfile.loc[:, 'rootdom'].replace(regex=True, to_replace=r'/', value='')
IPEDSfile['rootdom'] = IPEDSfile.loc[:, 'rootdom'].replace(regex=True, to_replace=r'HTTPS:', value='')

In [5]:
IPEDSfile[['unitid','instnm','rootdom','sector','iclevel']].head(n=15)

,unitid,instnm,rootdom,sector,iclevel
0,100654,Alabama A & M University,aamu.edu,"Public, 4-year or above",Four or more years
1,100663,University of Alabama at Birmingham,uab.edu,"Public, 4-year or above",Four or more years
2,100690,Amridge University,amridgeuniversity.edu,"Private not-for-profit, 4-year or above",Four or more years
3,100706,University of Alabama in Huntsville,uah.edu,"Public, 4-year or above",Four or more years
4,100724,Alabama State University,alasu.edu,"Public, 4-year or above",Four or more years
5,100733,University of Alabama System Office,uasystem.edu,Administrative Unit,Four or more years
6,100751,The University of Alabama,ua.edu,"Public, 4-year or above",Four or more years
7,100760,Central Alabama Community College,cacc.edu,"Public, 2-year",At least 2 but less than 4 years
8,100812,Athens State University,athens.edu,"Public, 4-year or above",Four or more years
9,100830,Auburn University at Montgomery,aum.edu,"Public, 4-year or above",Four or more years
10,100858,Auburn University,auburn.edu,"Public, 4-year or above",Four or more years
11,100937,Birmingham Southern College,bsc.edu,"Private not-for-profit, 4-year or above",Four or more years
12,101028,Chattahoochee Valley Community College,cv.edu,"Public, 2-year",At least 2 but less than 4 years
13,101073,Concordia College Alabama,ccal.edu,"Private not-for-profit, 4-year or above",Four or more years
14,101116,South University-Montgomery,southuniversity.edumontgomery#location=Montgom...,"Private for-profit, 4-year or above",Four or more years

In [9]:
# Create list of domains to scrape
weblist = IPEDSfile['rootdom']

## Step Two: Prepare Browser Object

In [10]:
import webbrowser
from time import sleep
from selenium import webdriver
import os
import requests
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [11]:
# browser = webdriver.Firefox()
# browser = webdriver.Chrome()

In [12]:
# browser.get(r'https://www.google.com/search?as_q=early+decision&as_epq=&as_sitesearch=.edu&as_filetype=pdf')

# Step Three: Scrape For Each School

In [ ]:
for school in weblist:
    searchstr = ''.join((r'https://www.google.com/search?as_q=early+decision&as_epq=&as_sitesearch=', 
                        school, '&as_filetype=pdf'))
    # browser.get(searchstr)
    # results = browser.find_elements_by_css_selector('h3 > a')
    counter = 0
    print('STARTING SCHOOL', str(school).upper())
    # for i in range (len(results)):
    for i in range(3):
        # filelink = results[i].get_attribute('href')
        # pdf = requests.get(filelink)
        fname = ''.join((school,str(counter),'.pdf'))
        # print('Filelink = ' + filelink)
        print('Saved as : ' + fname)
        # print('Header info :' + str(pdf.headers), end='\n\n')
        # open(''.join((r'pdfs/', fname)), 'wb').write(pdf.content)

log_file.close()

In [ ]:
for test in range(0):
    print('hi', test)

In [9]:
IPEDSfile.describe()

              unitid    isYr  fte  enrtot
count    5367.000000  5367.0  0.0     0.0
mean   258386.251537  2016.0  NaN     NaN
std    126948.735186     0.0  NaN     NaN
min    100654.000000  2016.0  NaN     NaN
25%    161531.500000  2016.0  NaN     NaN
50%    209153.000000  2016.0  NaN     NaN
75%    413741.000000  2016.0  NaN     NaN
max    490009.000000  2016.0  NaN     NaN